* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.navbar {
    width: 100%;
    height: 96px;
    background-color: #006AFF;

}


.navbar-brand {
    /* margin-left: 318px; */
    font-size: 30px !important;
    color: white !important;
}

.navb {
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 150px;
    display: flex;
}

.nav_input {
    width: 304px;
    height: 46px;
    border-radius: 5px;
    border: 1px;
    z-index: -1;

}

.h5a {
    color: white;
    font-size: 15px;
}

.h5_a {
    display: flex;
    gap: 20px;
}

.nav_input {
    width: 304px;
    height: 46px;
    top: 26px;
    left: 702px;
    border-radius: 5px;
    border: 1px;
    z-index: -1;

}

.form-control {
    margin-right: 500px !important;
}

.btn {
    background-color: orange !important;
    color: white !important;
    border: transparent !important;
}

.btn:hover {
    background-color: transparent !important;
    border: 2px solid orange !important;
    color: orange !important;
}

.container_box {
    width: 1000px;
    /* background-color: aqua; */
    margin: auto;
    align-items: center;
    justify-content: center;

}

.g2 {
    display: flex;
    gap: 10px;
}

.g3 {
    display: flex;
    gap: 10px;
    margin-top: -30px;
    margin-left: 150px;
}

.g5 {
    display: flex;
    gap: 10px;
}

.g1 {
    display: flex;
    gap: 10px;
}

#mes {
    color: #006AFF;
}

.bor {
    height: 300px;
    border-right: 2px solid grey;
    margin-top: -280px;
    margin-right: 710px;
}

.box {
    width: 600px;
    margin-left: 360px;
    margin-top: -280px;
}

.box_img {
    width: 600px;
    height: 380px;
    /* top: 566px;
    left: 757px; */

}

.icons {
    display: flex;
    gap: 20px;
}

.a1 {
    display: flex;
    gap: 10px;
    color: #006AFF;
}

.a2 {
    display: flex;
    gap: 10px;
    color: #006AFF;
}

.a3 {
    display: flex;
    gap: 10px;
}

.a4 {
    display: flex;
    gap: 10px;
}

.izoh_img {
    margin-left: 100px;
}

.izoh_h {
    color: #006AFF;
}

.navbar1 {
    width: 100%;
    display: flex;
    height: 96px;
    background-color: #006AFF;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;


}

/* #nb{
    margin-top: 25px;
} */
.tel_h {
    padding-left: 20px;
    color: white;
    font-size: 15px;
}

.pas {
    font-size: 15px;
    margin-left: 150px;
    color: white;

}

#mes {
    margin-left: 10px;
    color: white;
}

#tel_i {
    color: white !important;
    width: 16.61px;
    height: 16.56px;
    margin-left: 100px;
    display: flex;
}

.h6a {
    color: white;
    text-decoration: dashed;
    font-size: 20px;
    margin-left: 50px;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    width: 400px;
    height: 700px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}