* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.navbar {
    width: 100%;
    height: 96px;
    background-color: #006AFF;

}


.navbar-brand {
    /* margin-left: 318px; */
    font-size: 30px !important;
    color: white !important;
}

.navb {
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 150px;
    display: flex;
}

.nav_input {
    width: 304px;
    height: 46px;
    border-radius: 5px;
    border: 1px;
    z-index: -1;

}
.h5a{
    color: white;
}
.h5_a{
    display: flex;
    gap: 20px; 
}

.nav_input {
    width: 304px;
    height: 46px;
    top: 26px;
    left: 702px;
    border-radius: 5px;
    border: 1px;
    z-index: -1;

}

.form-control {
    margin-right: 500px !important;
}

.btn {
    background-color: orange !important;
    color: white !important;
    border: transparent !important;
}
.btn:hover {
    background-color: transparent !important;
    border: 2px solid orange !important;
    color: orange !important;
}
#home{
    color: #006AFF;
}
.b{
    display: flex;
    gap: 10px;
    font-size: 20px;
}
.b_h{
    margin-top: 7px;
}
.b1{
    width: 750px;
}
.box{
    width: 900px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
p{
    font-size: 20px;
}

.navbar1 {
    display: flex;
    height: 96px;
    background-color: #006AFF;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 27px;
  
}
#nb{
    margin-top: 25px;
}
.tel_h{
    padding-left: 20px;
    color: white;
    margin-top: 40px;
    font-size: 15px;
}
.pas{
    font-size: 15px;
    margin-top: 40px;
    margin-left: 150px;
    color: white ;
    
}
#mes{
    margin-left: 10px;
    color: white;
}
#tel_i {
    color: white !important;
    width: 16.61px;
    height: 16.56px;
    margin-top: 40px;
    margin-left: 100px;
    display: flex;
}

.h6a {
    color: white;
    text-decoration: dashed;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 50px;
}